# Day5 - 21.07.21 - Python Basics

How variable names are taken in Python;


1. variable names can be any length
2. variable names shall contain numbers alphabets and _
3. it shall not contain any spaces
4. it shall not start with numbers
5. it shall not contain any spl char
6. variable name shall not be a keyword

In [ ]:
# 1. variable names can be any length

yourFirstClassVariable = 100
yourVariable = 100
V = 100

# print("Delhi")

In [ ]:
# 2. variable names shall contain numbers alphabets and _

your_variable = 100
var23 = 23

In [ ]:
# 3. it shall not contain any spaces

your variable = 100

In [ ]:
# 4. it shall not start with numbers

# 25var = "hi"

_var = "hi"

In [ ]:
# 5. it shall not contain any spl char

# var$5 = 25

var5 = 25

var_5 = 25

# x@place = 25

#  group-class = 60

In [ ]:
# 6. variable name shall not be a keyword

# print = 100

# break = 500

# class = 'place'

# while = 60.33

In [ ]:
import keyword

In [ ]:
print(keyword.kwlist)

In [ ]:
print(len(keyword.kwlist))

In [ ]:
# display anythong on the output screen

print()

### Jupyter Benefits


1. last line in the code cell is displayed as the output, if it has the return type
2. Run any cell at any time. Cells are run in sequential order
3. operation, datatype - list of menu = context menu : 
    math. press tab
4. smart suggestions

In [ ]:
a = 100

b = 25

mul_ = a * b

div_ = a / b

print(mul_)

print(div_)

In [ ]:
a = 100

b = 25

mul_ = a * b

div_ = a / b

mul_

div_

# work done
diff_ = a - b
diff_

In [ ]:
# print(diff_ = a - b)

In [ ]:
import sys

# Datatypes  

**fundamental**
1. string
2. numbers - integer, float, complex
3. boolean - True, False
4. byte and byte array

**derived**
1. list - collection of elements of different datatpes. it is represented by []
2. tuple - collection of elements of different datatpes. it is represented by ()
3. sets - collection of elements of unique different datatpes. it is represented by {''}
4. range - collection of numbers from start to end. range()
5. dictionary - collection of keys and values. it is represented by {key : value}

**1. string**

 - it is a collection of characters
 - it is written in a pair of single ('') or double quotes (" ")
 - single line comments are taken as # (pound) sign
 - multi line comments are taken in a pair of """ """ or ''' '''

In [ ]:
word1 = "Delhi"    # char word = "place"

word2 = 'Mumbai'

print(word1)
print(type(word1))
print(sys.getsizeof(word1))


print(word2)
print(type(word2))
print(sys.getsizeof(word2))

In [ ]:
msg = "Welcome to the String topic. 2021 batch. @$%%^&*()"

print(msg)

print(type(msg))

print(sys.getsizeof(msg))

In [ ]:
# single line comment
a = 100
# ######################## Comment
b = 25
###c jkkj  ek eck e
print(a / b)
##

In [ ]:

'''
word1 = "Delhi"    # char word = "place"
print(word1)
print(type(word1))
print(sys.getsizeof(word1))
'''

"""
word2 = 'Mumbai'
print(word2)
print(type(word2))
print(sys.getsizeof(word2))
"""
print(4 * 9)

In [ ]:
"""
Dear friend,

Thank you for signing up.

Hope You enjoy our APP

Regards
TEam ABC
"""

In [ ]:
print("Dear friend, Thank you for signing up. Hope You enjoy our APP Regards TEam ABC ")

In [ ]:
print("""
Dear friend,

Thank you for signing up.

Hope You enjoy our APP

Regards
TEam ABC
""")

In [ ]:
print("""
Welcoome to Mart ; 

Choose your product from below : 

    1. Mango
        2. Apple
                            3. Grapes


"""
)

In [ ]:
print("Dear friend, \nThank you for signing up. \nHope You enjoy our APP \nRegards \nTEam ABC ")

In [ ]:
print("Dear friend, \nThank you for signing up. \t\t\t Hope You enjoy our APP \nRegards \t\tTEam ABC ")

In [ ]:
print("Thank's for signing up")

In [ ]:
print('Thank"s for signing up')

In [ ]:
print('Thank"s" " " " " " " for signing up')

In [ ]:
# print('Thank's 'fo'r 's'i'g'n'ing up')

**2. numbers - integer, float, complex**

integer - discrete, whole

float - decimal

complex - real & imaginary, a + bj

In [ ]:
num = 45
type(num)

In [ ]:
f1 = 45.0
type(f1)

In [ ]:
c1 = 45
type(c1)

In [ ]:
c2 = 45j   # 0 + 45j
type(c2)

In [ ]:
c3 = 45 + 45j
type(c3)

In [28]:
# math.real(45 + 3j)

In [ ]:
print(num * f1)

print(num * c1)

print(num * c2)

print(num * c3)

In [ ]:
7 * 9 - 6 + 12 * 9 ** 0.5

In [ ]:
(7 * 9) - (6 + 12) * 9 ** 0.5

In [1]:
abc = 6 * (- 3)
abc

-18

In [9]:
# called a library to perform math operations

import math

In [10]:
math.sqrt(9)

3.0

In [11]:
9 ** 0.5

3.0

In [12]:
math.exp(1)

2.718281828459045

In [13]:
math.floor(6.99)

6

In [14]:
math.ceil(6.1)

7

In [16]:
# round(6.999999, 1)

In [18]:
print(math.cos(100))

0.8623188722876839

In [21]:
# abs(-16)

In [22]:
math.pow(2, 5)

32.0

In [23]:
num1 = 10
num2 = 100

In [24]:
math.factorial(num1)

3628800

## 3. boolean - True, False


 - used to check the output of operations
 
 - 1 : True
 - 0 : False

In [29]:
# < > , and , or, ==

In [30]:
num2 = 100

In [31]:
num2 == 100

True

In [35]:
res = num2 == '100'
res

False

In [34]:
type(res)

bool

In [38]:
type(1)

int

In [37]:
type('10')

str

In [51]:
if 1 : 
    print("This is amazing session")
else : 
    print("BORING..!!!")

This is amazing session

In [54]:
if 0 : 
    print("This is amazing session")
else : 
    print("BORING..!!!")

BORING..!!!

### 4. byte and byte array

In [56]:
bin_1 = 0b1101010101010101010

print(bin_1)

436906

In [57]:
436906 == bin_1

True

In [59]:
oct_1 = 0o254
print(oct_1)

### 8^0 * 4 + 8^1 * 5 + 8^2 * 2 = 4 + 40 + 128 = 172

172

In [62]:
hex_1 = 0x10c

print(hex_1)   # 12 + 0+ 256 = 268

268

In [63]:
oct(hex_1)

'0o414'

1. list - collection of elements of different datatpes. it is represented by []
2. tuple - collection of elements of different datatpes. it is represented by ()
3. sets - collection of elements of unique different datatpes. it is represented by {''}
4. range - collection of numbers from start to end. range()
5. dictionary - collection of keys and values. it is represented by {key : value}
6. array - collection of elements of similar datatypes. it is represented by []

In [69]:
listName = [8, "t", "hello everyone", False, 9.99, 6 + 6j, 0b101, 8, 8]

print(listName)
print(type(listName))

[8, 't', 'hello everyone', False, 9.99, (6+6j), 5, 8, 8]
<class 'list'>

In [70]:
tupleName = (8, "t", "hello everyone", False, 9.99, 6 + 6j, 0b101,  8, 8)

print(tupleName)
print(type(tupleName))

(8, 't', 'hello everyone', False, 9.99, (6+6j), 5, 8, 8)
<class 'tuple'>

In [71]:
setName = {8, "t", "hello everyone", False, 9.99, 6 + 6j, 0b100, 8, 8}

print(setName)
print(type(setName))

{False, 'hello everyone', 4, 8, 9.99, (6+6j), 't'}
<class 'set'>

In [73]:
list(range(1, 20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [74]:
dtName = {'k1' : 12, 
         "k2" : 100}

print(dtName)
print(type(dtName))

{'k1': 12, 'k2': 100}
<class 'dict'>

In [ ]:
# operations - arithmetic, relation, logical, string, if else

In [79]:
6+ +-3   # 6 + (+(-3))

3